@font-face {
    font-family: 'Cera Pro';
    src: url('CeraPro-Light.eot');
    src: local('Cera Pro Light'), local('CeraPro-Light'),
        url('CeraPro-Light.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-Light.woff2') format('woff2'),
        url('CeraPro-Light.woff') format('woff'),
        url('CeraPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('CeraPro-MediumItalic.eot');
    src: local('Cera Pro Medium Italic'), local('CeraPro-MediumItalic'),
        url('CeraPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-MediumItalic.woff2') format('woff2'),
        url('CeraPro-MediumItalic.woff') format('woff'),
        url('CeraPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('CeraPro-RegularItalic.eot');
    src: local('Cera Pro Regular Italic'), local('CeraPro-RegularItalic'),
        url('CeraPro-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-RegularItalic.woff2') format('woff2'),
        url('CeraPro-RegularItalic.woff') format('woff'),
        url('CeraPro-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('CeraPro-BlackItalic.eot');
    src: local('Cera Pro Black Italic'), local('CeraPro-BlackItalic'),
        url('CeraPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-BlackItalic.woff2') format('woff2'),
        url('CeraPro-BlackItalic.woff') format('woff'),
        url('CeraPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('CeraPro-Medium.eot');
    src: local('Cera Pro Medium'), local('CeraPro-Medium'),
        url('CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-Medium.woff2') format('woff2'),
        url('CeraPro-Medium.woff') format('woff'),
        url('CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('CeraPro-BoldItalic.eot');
    src: local('Cera Pro Bold Italic'), local('CeraPro-BoldItalic'),
        url('CeraPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-BoldItalic.woff2') format('woff2'),
        url('CeraPro-BoldItalic.woff') format('woff'),
        url('CeraPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('CeraPro-ThinItalic.eot');
    src: local('Cera Pro Thin Italic'), local('CeraPro-ThinItalic'),
        url('CeraPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-ThinItalic.woff2') format('woff2'),
        url('CeraPro-ThinItalic.woff') format('woff'),
        url('CeraPro-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('CeraPro-LightItalic.eot');
    src: local('Cera Pro Light Italic'), local('CeraPro-LightItalic'),
        url('CeraPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-LightItalic.woff2') format('woff2'),
        url('CeraPro-LightItalic.woff') format('woff'),
        url('CeraPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('CeraPro-Black.eot');
    src: local('Cera Pro Black'), local('CeraPro-Black'),
        url('CeraPro-Black.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-Black.woff2') format('woff2'),
        url('CeraPro-Black.woff') format('woff'),
        url('CeraPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('CeraPro-Bold.eot');
    src: local('Cera Pro Bold'), local('CeraPro-Bold'),
        url('CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-Bold.woff2') format('woff2'),
        url('CeraPro-Bold.woff') format('woff'),
        url('CeraPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



* {
    box-sizing: border-box;
    margin: 0;
   
}


.body {
    font-family: "Cera Pro", sans-serif;

}

.wrapper {
    margin: 70px auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-between;
}

.cactus-article {
    width: 586px;
    display: flex;
    background: #FBFBFB;
}


.item-img {
    max-width: 287px;
    flex-shrink: 0;
    mix-blend-mode: multiply;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.text-h1 {
    margin: 0 30px 9px 0;
    color: #3D3D3D;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;

}

.text-p1 {
    margin: 0 30px 25px 0;
    color: #727272;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 

}
.find-more {
    display: flex;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
    border-radius: 6px;
    background: #46a358;
    text-decoration: none;
    padding: 9px 28px;
    margin: 0 30px 46px 0;
    min-width: 140px;
}

.find-img {
    margin: 0 2px 0 0;
}

.our-blog {
    display: flex;
    flex-direction: column;
    margin: 138px 0 0 0;
}

.our-blog-item {
    color: #3D3D3D;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.our-blog-text {
    margin: 15px 0 0 0;
    color: #727272;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    }

.post-box {
    display: flex;
    margin: 35px 0 0 0;
    justify-content: space-between;
}

.post-block {
    width: 268px;
    background: #FBFBFB;
}

.post-block-img {
    width: 268px;
    flex-shrink: 0;
}

.post-img-text {
    margin: 8px 0 0 12px;
    color: #46A358;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.post-item-text2 {
    padding: 4px 0 0 12px;
    color: #3D3D3D;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.post-item-text3 {
    margin: 4px 0 0 12px;
    color: #727272;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}


.post-item-read { 
    display: inline-flex; 
    height: 17px;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
    flex-shrink: 0;
}


.span {
    margin: 9px 0 0 12px;
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}


.span:hover {
    color: #46A358;  
}

